:root {
  --main-radius: 0.4rem;
  --main-padding: 0.4rem;
  font-size: 14px;
  --sub-title-font-size: 1.3rem;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
  outline: none;
}

a:visited {
}
a:hover {
}
a:active,
a:focus {
}

body {
  font-family: "Roboto", sans-serif;
}

.a_container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-template-rows: 7fr 93fr;
  grid-template-areas:
    "header header header header"
    "main main main main";
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.b_container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-template-rows: 7fr 93fr;
  grid-template-areas:
    "header header header header"
    "sidebar main main main";
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

#header {
  background: #ffffff;
  grid-area: header;
  /* border-radius: var(--main-radius); */
  padding: var(--main-padding);
  min-height: 35px;

  color: black;
  border-bottom: 0.1rem solid #ececec;
}

main {
  /* background: #84ffff; */
  background-color: #f8f9fa;
  grid-area: main;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
  height: 93vh;
}

#sidebar {
  grid-area: sidebar;
  border-right: 0.1rem solid #ececec;
}
/* 
footer {
background: #ECECEC;
grid-area: footer;
border-radius: var(--main-radius);
padding: var(--main-padding);
} */
/* 
#content1 {
background: #6fffd2;
grid-area: content1;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}

#content2 {
background: #64ffda;
grid-area: content2;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}

#content3 {
background: #73ffba;
grid-area: content3;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
} */
/*   
a {
text-align: center;
display: block;
font-family: inherit;
text-decoration: none;
font-weight: bold;
margin: 1rem;
}
*/
@media only screen and (max-width: 900px) {
  .b_container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr;
    grid-template-areas:
      "header"
      "sidebar"
      "main";
  }
}
